body{
  background: url("../backgrounds/Route20-background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div{
  width: 20px;
  height: 20px;
}

#Help{
  border-style: double;
  border-color: blue;
  position: absolute;
  bottom: 4%;
}

#pokeDOM {
  color: blue;
}

#gear {
  border-style: double;
  border-color: blue;
  position: absolute;
  bottom: 0%;
}

span {
  margin: 5px 5px 5px 5px;
}
