@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400');

body{
  font-family: 'Roboto Mono', monospace;
}

#main-container{
  height: 100%;
  width: 100%;
}

#map-container{
  background: url("../backgrounds/Route20-background.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50%;
  height: 100%;
  padding: 25%;
  padding-bottom: 20%;
}

span{
  width: 20px;
  height: 20px;
}

#Help{
  width: 246px;
  border: 3px solid;
  border-color: #000000;
  border-radius: 5px;
  /*position: absolute;*/
  bottom: 4%;
  background-color: black;
}

#pokeDOM {
  color: white;
  display: inline-block;
  border: 4px solid;
  border-color: #706880;
  border-radius: 3px;
  height: 28px;
  padding-top: 26%;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0%;
  background-color: #294f62;
}

#hint-container{
  display: inline-block;
  border: 4px solid;
  border-color: #706880;
  padding: 12px;
  padding-left: 6px;
  padding-bottom: 7px;
  background-color: white;
}

#help1{
  margin-bottom: 5px;
}

#help2{
  margin-bottom: 5px;
}

#gear {
  border-style: double;
  border-color: blue;
  /*position: absolute;*/
  bottom: 0%;
}

span {
  margin: 5px 5px 5px 5px;
}
